snippet log
	console.log(${1});${2}

# -----------------------------------------
# special snippets for react native
# -----------------------------------------
snippet init
	constructor(props) {
	  super(props);
	  ${1}
	}${2}
