snippet link
	[${1:description}](${2:url})${3}
snippet image
	![image](${1:image path})${2}
# -----------------------------------------
# special snippets for leanpub
# -----------------------------------------
snippet code Ruby
	{lang=ruby, linenos=off}
	~~~~~~~~
	${1}
	~~~~~~~~${2}
snippet code Text
	{lang=text, linenos=off}
	~~~~~~~~
	${1}
	~~~~~~~~${2}
