snippet rt
	render text: ${1}
snippet lt
	<%= link_to "${1}", ${2} %>${3}
snippet ba
	before_action :${1}
snippet hm
	has_many :${1}s
snippet ho
	has_one :${1}
snippet bt
	belongs_to :${1}
snippet habtm
	has_and_belongs_to_many :${1}
snippet anaf
	accepts_nested_attributes_for :${1}
snippet flash
	flash[:${1:notice}] = "${2}"
snippet utf8
	# encoding: utf-8${1}
snippet pry
	binding.pry${1}
snippet freeze
	# frozen_string_literal: true${1}
